{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=account;AccountKey=key",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "Azure.ClearIndexUrl": "url",
    "Azure.ContainerName": "algolia-item-records",
    "Azure.StorageAccountName": "kcddev",
     "Azure.StorageKey": ""
  }
}
